body{
    margin: 0px;
    padding: 0px 291px;
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal{
    flex-direction: row;
}
.vertical{
    flex-direction: column;
}
